.card-container{
    width: 275px;
    display: flex;
    background-color: aqua;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

}
.card-container:hover{
    transform: scale(1.05);
}